@use "./styles/variables" as *;
.app {
  .nav-wrapper {
    position: fixed;
    background-color: $white;
    z-index: 9;
    .hamburger-icon {
      color: $black;
    }
    .nav-item {
      color: $black;
      font-weight: bold;
      font-size: 20px;
    }
  }
  #plans {
    .list-item-inner {
      background-color: $light-grey;
    }
  }
}